@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --main: #FFFFFF;
    --text: #181818;
    --swiper-theme-color: #181818 !important;
}

* {
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);

    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main);
}

@media only screen and (max-width: 700px) {

    h2 {
        display: none;
    }

    .navbar {
        width: 80%;
        margin: auto;
        padding: 20px 0px;
    }

    .pages {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .skills {
        width: 80%;
        margin: auto;
    
        display: block;
        text-align: center;
    }

    .swiper {
        width: 90%;
        margin: auto;
    }    

    .content {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    a { display: block; }

}

@media only screen and (min-width: 700px) {

    .navbar {
        width: 80%;
        margin: auto;
        padding: 20px 0px;
    
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }
    
    .pages {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .skills {
        width: 700px;
        margin: auto;
    
        display: flex;
        justify-content: space-evenly;
    }

    .swiper {
        width: 600px;
        margin: auto;
    }

    .content {
        width: 65%;
        margin: auto;
        padding: 20px;
    }
    

    a { display: inline-block; }

}

.title {
    font-size: 32px;
    margin: 0px 0px 40px;
}

p1 {
    font-size: 19px;
}

.container {
    position: fixed;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

button {
    padding: 10px;
    margin: 20px;
    border: 3px solid var(--text);

    background-color: var(--text);
    color: var(--main);

    font-size: 14px;

    transition: all 0.25s ease;
}

button:hover {
    background-color: var(--main);
    color: var(--text);
}

.column {
    display: inline-block;
    justify-content: center;
}

li {
    font-size: 18px;

    text-align: left;
    list-style: none;

    padding: 3px;
    margin: 20px;

    display: grid;
    grid-template-columns: 50px 1fr;
}

img {
    width: 100%;  
    margin: 0px 0px 10px;

    border-radius: 10px;
}

a.slide {
    position: relative;

    margin: 0px 10px;
    text-decoration: none;
}
  
a.slide:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.slide:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}